* {
  margin: 0;
  padding: 0;
}
#bar {
  color: rgba(173, 255, 47, 0.9);
  background-color: rgba(44, 45, 46, 0.8);
}
main {
  background-color: burlywood;
  height: 500px;
  width: 500px;
}

#product {
  /* background-image: url(/CSS_Projects/Color_Properties/images/jeans.jpg);
  background-size: contain;
  height: 300px;
  width: 200px;
  background-position: center;
  background-repeat: no-repeat; */
  /* short hand property */
  color: rgba(14, 15, 15, 0.829);
  height: 300px;
  width: 300px;
  background: yellowgreen url(/CSS_Projects/Color_Properties/images/jeans_1.jpg)
    no-repeat center;
  background-size: 200px;
  text-align: center;
}
