* {
  margin: 0;
  padding: 0;
}

.box-block {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: chartreuse;
  text-align: center;
  display: block;
}

.box-inline {
  height: 100px;
  width: 100px;
  margin: 5px;
  background-color: darksalmon;
  text-align: center;
  display: inline;
}

.box-inline-block {
  height: 100px;
  width: 100px;
  margin: 5px;
  text-align: center;
  background-color: orchid;
  display: inline-block;
}

#box7 {
  height: 100px;
  width: 100px;
  margin: 5px;
  text-align: center;
  background-color: cyan;
  visibility: hidden;
}

#box8 {
  height: 100px;
  width: 100px;
  margin: 5px;
  text-align: center;
  background-color: brown;
  display: none;
}
